@model VMotion.Models.TblAccount
@{
    ViewData["Title"] = "Trang cá nhân";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    VMotion.Areas.Admin.Models.ChangePasswordViewModel changePassword = new VMotion.Areas.Admin.Models.ChangePasswordViewModel();

}

<div class="pagetitle">
    <h1>Thông tin cá nhân</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item">Trang cá nhân</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                    @if (Model.Thumb != null)
                    {
                            <img src="~/files/images/account/@Model.Thumb" alt="@Model.FullName" class="rounded-circle">
                    }
                    else
                    {
                        <img src="~/files/images/account/Default-avatar.jpg" alt="@Model.FullName" class="rounded-circle">
                    }
                   
                        <h2>@Model.FullName </h2>
                        @if (Model.RoleId != null)
                        {
                            <h3>@Model.Role.RoleName</h3>
                        }
                    
                    <div class="social-links mt-2">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3" style="padding-bottom: 50px;">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng quan</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chỉnh sửa thông tin</button>
                        </li>


                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi mật khẩu</button>
                        </li>

                    </ul>
                    <div class="tab-content pt-2">

                        <div class="tab-pane fade show active profile-overview" id="profile-overview">
                            @if (Model.Description != null)
                            {
                                <h5 class="card-title">Về tôi</h5>
                                <p class="small fst-italic">@Model.Description</p>
                            }

                            else
                            {

                            }

                            <h5 class="card-title">Chi tiết hồ sơ</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Họ và tên:</div>
                                    <div class="col-lg-9 col-md-8">@Model.FullName </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ngày sinh: </div>
                                @if (Model.BirthDay != null)
                                {
                                    <div class="col-lg-9 col-md-8">@Model.BirthDay.Value.ToString("dd/MM/yyyy")</div>
                                }
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Điện Thoại</div>
                                <div class="col-lg-9 col-md-8">@Model.Phone</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">@Model.Email</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Học vấn:</div>
                                <div class="col-lg-9 col-md-8">@Model.Education</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Quốc gia:</div>
                                <div class="col-lg-9 col-md-8">@Model.Country</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Địa chỉ: </div>
                                <div class="col-lg-9 col-md-8">@Model.Address</div>
                            </div>

                            <p style="text-align: center; color: red">@ViewBag.Alter</p>

                        </div>

                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form asp-area="Admin" asp-controller="AdminAccounts" asp-action="EditProfile" asp-route-id="@Model.AccountId" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly"></div>
                                <input type="hidden" asp-for="AccountId" />
                                <input type="hidden" asp-for="CreatedDate" />
                                <input type="hidden" asp-for="Thumb" />
                                

                                <div class="row mb-3">
                                    <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Họ Và Tên</label>
                                    <div class="col-md-8 col-lg-9">
                                            <input name="FirstName" type="text" asp-for="FullName" class="form-control" id="FirstName">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label"> Hình ảnh</label>
                                    <div class="col-md-8 col-lg-9">
                                        <img src="~/files/images/account/@Model.Thumb" alt="Profile" id="img-account">
                                        <div class="pt-2">

                                            <input asp-for="Thumb" name="fThumb" type="file" class="btn btn-primary btn-sm" title="Upload new profile image" onchange="document.getElementById('img-account').src = window.URL.createObjectURL(this.files[0])" />

                                            @* <a href="#" asp-for="Thumb" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                            <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Điện thoại</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="phone" type="text" class="form-control" id="Phone" asp-for="Phone">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="email" type="email" class="form-control" id="Email" asp-for="Email">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="about" class="col-md-4 col-lg-3 col-form-label">Về tôi</label>
                                    <div class="col-md-8 col-lg-9">
                                        <textarea name="Description" class="form-control" asp-for="Description" id="about" style="height: 100px"></textarea>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="company" class="col-md-4 col-lg-3 col-form-label">Ngày sinh</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input class="form-control" id="company" asp-for="BirthDay">
                                    </div>
                                </div>


                                <div class="row mb-3">
                                    <label for="Country" class="col-md-4 col-lg-3 col-form-label">Quốc gia</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="country" type="text" class="form-control" id="Country" asp-for="Country">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Địa chỉ</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="address" type="text" class="form-control" id="Address" asp-for="Address">
                                    </div>
                                </div>



                                @*    <div class="row mb-3">
                                <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="twitter" type="text" class="form-control" id="Twitter" value="https://twitter.com/#">
                                </div>
                                </div>

                                <div class="row mb-3">
                                <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="facebook" type="text" class="form-control" id="Facebook" value="https://facebook.com/#">
                                </div>
                                </div>

                                <div class="row mb-3">
                                <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="instagram" type="text" class="form-control" id="Instagram" value="https://instagram.com/#">
                                </div>
                                </div>

                                <div class="row mb-3">
                                <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin</label>
                                <div class="col-md-8 col-lg-9">
                                <input name="linkedin" type="text" class="form-control" id="Linkedin" value="https://linkedin.com/#">
                                </div>
                                </div>
                                *@
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                                </div>
                            </form>

                            <!-- End Profile Edit Form -->

                        </div>


                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form asp-area="Admin" asp-controller="AdminAccounts" asp-action="ChangePassword" method="post" enctype="multipart/form-data">

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu hiện tại</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="PasswordNow" type="password" class="form-control" >
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Mật khẩu mới</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="Password" type="password" class="form-control" >
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Nhập lại mật khẩu mới</label>
                                    <div class="col-md-8 col-lg-9">
                                        <input name="ConfirmPassword" type="password" class="form-control" >
                                    </div>
                                </div>

                                <div class="text-right">
                                    <p style="text-align: center; color: red">@ViewBag.Alter</p>
                                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                                </div>
                            </form>
                            <!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>

