@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<VMotion.Models.TblAccount>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách tài khoản" + ' ' + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách tài khoản : Trang @CurrentPage</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body" style="padding: 50px ;">
                    <div class="row m-b-30" style="align-items: center; margin-bottom: 30px !important;">
                        <div class="col-md-8">
                            <div class="row" style="display: flex; align-items: center;">
                              
                                <div class="col-md-6 mb-3 header" style="box-shadow: none !important; display: flex; justify-content: center; align-items: center; z-index: 0 !important;">


                                    <div class="search-bar" style="padding: 0 8px !important;">
                                        <form class="search-form d-flex align-items-center" method="POST" action="#">
                                            <input type="text" id="keyword" name="keyword" placeholder="Tìm kiếm" title="Enter search keyword">
                                            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">


                                    <select asp-items="ViewBag.QuyenTruyCap" id="txtRoleID" name="txtRoleID" class="form-select" aria-label="Default select example">
                                        <option value="0" selected="" disabled="">Chọn quyền truy cập</option>


                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4" style="text-align: right !important;">
                            <a class="btn btn-primary rounded-pill" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Create">
                                <i class="anticon anticon-plus-circle m-r-5"></i>
                                <span>Thêm mới</span>
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover e-commerce-table" style="margin-bottom: 50px !important;">
                            <thead>
                                <tr>
                                    <th style="padding: 1rem !important;">ID</th>
                                    <th style="padding: 1rem !important;">Họ và tên</th>
                                    <th style="padding: 1rem !important;">Email</th>
                                    <th style="padding: 1rem !important;">Điện thoại</th>

                                    <th style="padding: 1rem !important;">Quyền</th>
                                    <th style="padding: 1rem !important;">Trạng thái</th>
                                    <th style="padding: 1rem !important;">#</th>
                                </tr>
                            </thead>
                            <tbody id="records_table" style="vertical-align:-webkit-baseline-middle !important;">
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">@item.AccountId</td>
                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">
                                                <a asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-accountID="@item.AccountId">@item.FullName</a>
                                            </td>
                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">
                                                @item.Email
                                            </td>
                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important; min-width: 100px !important;">
                                                @item.Phone
                                            </td>

                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important; min-width: 100px !important;">
                                                @item.Role.RoleName
                                            </td>

                                            <td style="padding: 1rem !important; vertical-align:-webkit-baseline-middle !important;">
                                                @if (item.IsActive == true)
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <span class="badge bg-primary">Hoạt động</span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <span class="badge bg-secondary">Ngưng hoạt động</span>

                                                    </div>
                                                }
                                            </td>



                                            <td style="min-width: 150px !important;">
                                                <a class="btn btn-primary btn-sm" title="xem" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Details" asp-route-accountID="@item.AccountId"><i class="ri-eye-line"></i></a>
                                                <a class="btn btn-success btn-sm" title="sửa" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Edit" asp-route-accountID="@item.AccountId"><i class="ri-edit-2-line"></i></a>
                                                <a class="btn btn-danger btn-sm" title="Xóa" asp-area="Admin" asp-controller="AdminAccounts" asp-action="Delete" asp-route-accountID="@item.AccountId"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>

                        <nav aria-label="Page navigation example">

                            @if(Model.PageCount > 1) {
                                <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminAccounts" asp-route-CategoryID="@ViewBag.CurrrentRoleID" asp-action="Index" options="PagedListRenderOptions.Bootstrap4PageNumbersOnly" />

                            }

                        </nav>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // Lọc quyền
            jQuery("#txtRoleID").change(function () {
                var RoleID = jQuery(this).children(":selected").attr("value");
                RoleID = parseFloat(RoleID);
                $('#txtRoleID option')
                    .removeAttr('selected');
                $("#txtRoleID > [value=" + RoleID + "]").attr("selected", "true");
                $.ajax({
                    url: '/Admin/AdminAccounts/Filtter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        RoleID: RoleID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            // Phần này để tìm kiếm Danh sách tài khoản
            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindAccounts/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });
    </script>
}